<div class="container-fluid" >
    <h1>All Bog Posts</h1>
     <% @posts.each do |post| %>
        <%= link_to post.title, post %>
        <%= post.content %>
        <%= post.published_at %>
     <% end %>
</div>